.callout {
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
    background-color: darkblue;
    color: white;
}

.callout img {
    float: left;
    margin: 0 10px 10px 0;
    border: 2px solid white;
    padding: 2px;
    background-color: white;
    width: 150px;
    height: auto;
}

blockquote {
    margin: 10px 0;
}

cite {
    display: block;
    border-top: 1px solid white;
    padding-top: 5px;
    text-align: right;
    font-size: 0.9em;
}